<div class="sets-container">
    <div class="set-container" *ngFor="let set of Set | paginate: {itemsPerPage: pageSize, currentPage: page, totalItems: Total}" [ngStyle]="{'background-color':set.border === 'silver' ? 'silver' : 'white' }">
        <div>
            <p class="code">{{set.code}}</p>
        </div>
        <h1>{{set.name}}</h1>
        <h2>{{set.block}}</h2>
        <div>
            <p>{{set.releaseDate}}</p>
            <p>{{set.Expansion}}</p>
            <p>{{set.border}}</p>
        </div>
    </div>
    <pagination-controls (pageChange)="handlePageChange($event)">
    </pagination-controls>
</div>
